@model List<Udemy___MvcTicariOtomasyon.Models.Entities.Cari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="card-body">
    <h2>Cariler</h2>
    <table class="table table-striped">
        <tr>
            <th>Cari Adı</th>
            <th>Cari Soyadı</th>
            <th>Şehir</th>
            <th>Mail</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.CariAd</td>
                <td>@x.CariSoyad</td>
                <td>@x.CariSehir</td>
                <td>@x.CariMail</td>
                <td>
                    <a href="/Cari/CariGuncelle/@x.CariId" class="btn btn-warning">Düzenle</a>
                    <a href="/Cari/CariSil/@x.CariId" class="btn btn-danger">Sil</a>
                    <a href="/Cari/CariSatisGecmisi/@x.CariId" class="btn btn-info">Satış Geçmişi</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Cari/CariEkle" class="btn btn-outline-primary">Yeni Cari</a>
</div>

